<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <title>Editar artículo</title>
    </head>

    <body>
      
      <nav class="navbar navbar-expand-lg" style="background-color: #735d78;">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarButtonsExample" >
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item me-4">
                <a class="nav-link text-white" href="/home">Menú principal</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link text-white" href="/subscriptions">Suscripciones</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link text-white" href="/newarticle">Crer artículo</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link text-white" href="/userlikes">Artículos favoritos</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link text-white" href="/userprofile">Mi perfil</a>
              </li>
            </ul>
            
            <form method="POST" action="/logout">
              <div class="d-flex align-items-center">
                <button type="submit" class="btn me-3" style="background-color: #ffd60a;">Cerrar sesión</button>
              </div>
            </form>
          
          </div>
        </div>
      </nav>

      <section class="vh-150 mt-4">
        <div class="container">
        
            <form action="/editarticle/<%=locals.articleid%>" method="POST">

                <div class="form-group mb-4">
                    <label  class="mb-2" for="title">Título</label>
                    <input required type="text" name="title" id="title" value="<%=locals.title%>" class="form-control">
                  </div>

                  <div class="form-group mb-4">
                    <label  class="mb-2" for="description">Descripción</label>
                    <textarea required name="description" id="description" class="form-control"><%=locals.description%></textarea>
                  </div>

                  <div class="form-group mb-4">
                    <label class="mb-2" for="content">Contenido</label>
                    <textarea required name="content" id="content" class="form-control"><%=locals.content%></textarea>
                  </div>
                
                  <button type="submit" class="btn btn-dark btn-block me-2">Guardar</button>
                  <a href="/deletearticle/<%=locals.articleid%>" class="btn btn-danger me-2">Eliminar</a>
                  <a class="btn" style="background-color: #ffd60a;" href="/viewarticle/<%= locals.articleid %>">Regresar</a>
            </form>
          </div>

      </section>

    </body>
</html>